$theme-color:       #81c15b;
$theme-sc-color:    #41aba0;

$theme-color-main:      #8ec64e;
$theme-sc-color-main:   #41aba0;

$menu_active_color:     #000;
$menu_color:        #FFFFFF;

$theme-th-color:    #afc625;
$button-hover:      #3C966A;
$heading-text:      #afc625;
$heading-border:    $heading-text;
$button-border:     $heading-text;
$references-slider: #86C686;
$references-border: #AAD7A8;
$brand-primary:     $heading-text;
$select-color:      $theme-th-color;
$textcolor:         #fff;
$footercolor:       $heading-text;
$block-hover:       rgba(111, 187, 112, 0.698);

$primary: $theme-color;
$secondary: $theme-color;
// Links

$link-color: $theme-color !default;

// Navbar
$navbar-light-color: $menu_color !default;


