$theme-color: #2DB1A9;
$theme-sc-color: #31728C;

$theme-color-main: #2DB1A9;
$theme-sc-color-main: #31728C;

$menu_active_color: #000;
$menu_color: #FFFFFF;

$body-bg: $white;
$o-portal-bg-color: $white !default;

$primary: $theme-color;
$secondary: $theme-color;
// Links

$link-color: $theme-color !default;

// Navbar
$navbar-light-color: $menu_color !default;


